<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Sign Up</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition signin-page">
<div class="col-sm-6 mx-auto">
<div class="register-box">
<div class="card card-outline card-primary">
<div class="card-header text-center">


    <h3><b>Sign Up</b></h3>
</div>
  
  <div class="card-body signin-card-body">
<div class="text-center">
   <p class="login-box-msg">Sign up for new user</p>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   
  <div class="input-group mb-3">
     <%= f.email_field :email, autofocus: true, autocomplete: "email", :class =>"form-control",:placeholder=>"Email"%>
   <div class="input-group-append">
     <div class="input-group-text">
     <span class="fa fa-envelope"></span>
     </div>
    </div>
  </div>
  

  <div class="input-group mb-3">
    <%= f.password_field :password, autocomplete: "new-password" ,:class=>"form-control",:placeholder=>"Password"%><br/>
    <!--
   <% if @minimum_password_length  %>
    <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
    <% end %>
    -->
    <div class="input-group-append">
     <div class="input-group-text">
     <span class="fa fa-lock"></span>
     </div>
    </div>
  </div>

  <div class="input-group mb-3">
  
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control",:placeholder=>"Retype-password" %>
   <div class="input-group-append">
     <div class="input-group-text">
     <span class="fa fa-lock"></span>
     </div>
    </div> 
  </div>
    <div class="pull-right">
    <%= f.submit "Sign up" ,:class=>"btn btn-primary" %>
    </div>
<% end %>
<div class="pull-left">
<%= render "devise/shared/links" %>
</div>
</div></div>
  </div>
</div>


<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>